language: php

php: [7.4]

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - composer selfupdate
  - composer update

script:
  - vendor/bin/phpunit --coverage-text
  - vendor/bin/phpcs --standard=PSR2 src/
